.cards-container{
    width: 280px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: $tertiary-background-color;

    @include respond-to(lg) {
        width: 350px;
        height: 300px;
    }

    .cards-content{
        padding: 0.5rem;
        background-color: #BFBFBF;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        .card-title{
            color: $primary-text-color;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .card-subtitle{
            font-size: 0.75rem;
        }
    }
}

