.small-cards-continer {
  width: 300px;
  height: 120px;
  padding: 1rem;
  border-radius: 1rem;
  flex: 0 1 calc(40% - 16px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2rem);

  @include respond-to(md) {
    flex: 0 1 calc(50% - 16px);
  }

  .small-card-title {
    font-weight: 500;
  }
}

.small-cards-continer.events {
  background: -webkit-radial-gradient(at bottom left, #693BFF);
  background: radial-gradient(at bottom right, #693BFF, #09090b, transparent);
}
.small-cards-continer.clubs {
  background: -webkit-radial-gradient(at bottom left, #FF833B);
  background: radial-gradient(at bottom right, #FF833B, #09090b, transparent);
}
.small-cards-continer.clans {
    background: -webkit-radial-gradient(at bottom left, #3BFFC1);
    background: radial-gradient(at bottom right, #3BFFC1, #09090b, transparent);
  }
  .small-cards-continer.more {
    background: -webkit-radial-gradient(at bottom left, #FF3B3E);
    background: radial-gradient(at bottom right, #FF3B3E, #09090b, transparent);
  }

